{% use "components/head.html.twig" %}
{% use "components/navigation.html.twig" %}
{% use "components/script.html.twig" %}
{% use "components/footer.html.twig" %}

<!DOCTYPE html>
<html lang="fr">
    <head>
        {{ block('head_block') }}
    </head>

    <body class="container-fluid">
        <div class="row">
            <!-- Navigation -->
            {{ block('navigation_block') }}

            <!-- Body of webpage -->
            {% block content %}{% endblock %}

            <!-- Footer of the webpage. -->
            {{ block('footer_block') }}

            <!-- Loading script section -->
            {{ block('scripts_block') }}
        </div>
    </body>
</html>
