{% extends "layout.html.twig" %}

{# Keywords from meta 'keyword' #}
{% block keywords %}login, media, client, rest-client{% endblock %}

{# Title of the page present on head markup #}
{% block title %}{% trans %}login_title{% endtrans %}{% endblock %}

{# Body of the page #}
{% block content %}
    <section class="row">
        <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
            <h2 class="text-center">{{ block('title') }}</h2>
            {% if error %}
                <div class="alert alert-danger">
                    <strong>{% trans %}login_fail_error{% endtrans %}</strong> {{ error }}
                </div>
            {% endif %}
            <div class="well">
                <form class="form-signin form-horizontal" role="form" action="{{ path('login_check') }}" method="post">
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-4 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                            {% trans %}username_label{% endtrans %}
                        </label>
                        <div class="col-md-6 col-sm-7 col-xs-8">
                            <input type="text" name="_username" value="{{ last_username }}" class="form-control"
                                   placeholder="{% trans %}username_placeholder{% endtrans %}" required autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2 col-sm-3 col-xs-4 col-md-offset-1 col-sm-offset-1 col-xs-offset-1">
                            {% trans %}password_label{% endtrans %}
                        </label>
                        <div class="col-md-6 col-sm-7 col-xs-8">
                            <input type="password" name="_password" class="form-control"
                                   placeholder="{% trans %}password_placeholder{% endtrans %}" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            <button type="submit" class="btn btn-default btn-primary">
                                <span class="glyphicon glyphicon-log-in"></span> {% trans %}login{% endtrans %}
                            </button>
                            <button type="reset" class="btn btn-default btn-danger">
                                <span class="glyphicon glyphicon-erase"></span> {% trans %}clean_form{% endtrans %}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
